<div class="employee-list-div">
    <div class="employee-list">
        <div class="title">
            <label class="label">Employees</label>
        </div>
        <div class="employee-item" *ngFor="let emp of employees; let i=index; trackBy:employeeTrack">
            <div class="employee-item-1" [ngStyle]="getStyle(emp, 1)">
                <div class="employee-item-2" [ngStyle]="getStyle(emp, 2)">
                    <div class="emp-name" (click)="clickItem(emp)" [ngStyle]="getStyle(emp, 3)">
                        <p class="emp-name-1">{{emp.fullname}}</p>
                        <p class="emp-position">{{getPosition(emp.position)}}</p>
                    </div>
                    <div class="trash" (click)="clickTrash(emp, $event)" [ngStyle]="getStyle(emp, 4)">
                        <i class="fa fa-lg fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>